.modal .right_wrapper {
  padding: 0 20px;
  animation: fadeIn 0.20s ease-in;
}

.modal .right_wrapper > div {
  position: relative;
}

.modal .right_header {
  height: 100px;
  border-bottom: 1px solid #ccc;
}

.modal .right_header > div {
  float: left;
}

.modal .right_header .avatar_wrapper {
  border: 1px solid #ccc;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-top: 25px;
  overflow: hidden;
}

.modal .right_header .avatar_wrapper img {
  width: 100%;
  height: 100%;
}

.modal .right_header .username {
  position: relative;
  left: 15px;
  top: 40px;
  font-size: 22px;
}

.modal .right_body {
  height: 360px;
  border-bottom: 1px solid #ccc;
}

.modal .right_body > .content {
  overflow-y: scroll;
  max-height: 350px;
  border: 0px solid;
}

.modal .right_body h4 {
  font-size: 20px;
  padding-top: 15px;
}

.modal .right_body p {
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 15px;
}

.modal .right_footer {
  height: 90px;
  border-bottom: 1px solid #ccc;
}

.modal .right_bottom {
  height: 50px;
  border-bottom: 0px solid;
}

.right_footer .icons, .right_footer .likes, .right_footer .date {
  display: block;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.right_footer .icons {
  height: 40px;
}

.right_footer .likes {
  height: 28px;
  font-size: 15px;
  font-weight: bold;
  padding-top: 8px;
}

.right_footer .date {
  font-size: 12px;
}

.comment_input {
  width: 100%;
  padding-top: 12.5px;
  border: 0px solid;
  font-size: 14px;
}

/* modal comments and replies */
.modal .comments {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: auto;
}

.modal .comments .comment:first-child {
  margin-top: 15px;
}

.modal .comments .comment .icon {
  position: absolute;
  right: 15px;
}

.modal .comments .comment .icon, .modal .comments .reply .icon {
  font-size: 15px;
}

.modal .comments .comment .right p {
  margin: 0px;
  margin-bottom: 5px;
  padding-right: 30px;
}

.modal .comments .comment .right .data {
  color: #888;
}

.modal .comments .comment .replies {
  padding-left: 20px;
}

.modal .comments .show_comments {
  color: #888;
  font-size: 14px;
  margin-bottom: 15px;
}
