.edit .avatar_wrapper {
  width: 75px;
  height: 75px;
  border: 1px solid #888;
  border-radius: 100%;
  overflow: hidden;
}

.edit .avatar_wrapper img {
  position: relative;
  left: -1px;
  top: -1px;
  width: 75px;
  height: auto;
}

.edit .avatar_wrapper input {
  position: absolute;
  left: 0px;
  top: 0;
  width: 75px;
  height: 75px;
  z-index: 1;
  opacity: 0;
}

.edit .name_wrapper h1 {
  border: 0px solid;
}
